<div id="area-form" class="d-flex justify-content-center align-items-center">
    <div id="linha-form" class="row">
        <div class="p-0 col-6 d-flex justify-content-end">
            <img id="img-form" src="https://i.pinimg.com/564x/2f/b5/68/2fb568d54a82da6d5a80d249f99e6ec3.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="p-0 col-6 d-flex justify-content-start">
            <form class="p-4 bg-danger text-light">
                <div id="brand-login">
                    <h2 class="text-center">WebCars</h2>
                </div>
                <br>
                <div class="form-group">
                  <label for="exampleDropdownFormEmail2">Email</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail2">
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormPassword2">Senha</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword2">
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                    <label class="form-check-label" for="dropdownCheck2">
                      Mantenha-me Conectado
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark" (click)="Login()">Acessar</button>
              </form>
        </div>
    </div>
  
</div>
