<div id="area-form" class="d-flex justify-content-center align-items-center">
    <div id="linha-form" class="row">
        <div class="p-0 col-6 d-flex justify-content-end">
            <img id="img-form" src="https://i.pinimg.com/564x/2f/b5/68/2fb568d54a82da6d5a80d249f99e6ec3.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="p-0 col-6 d-flex justify-content-start">
            <form (ngSubmit)="LogarBloc()" class="p-4 bg-danger text-light" #formLogin="ngForm">
                <div id="brand-login">
                    <h2 class="text-center">WebCars</h2>
                </div>
                <br>
                <div class="form-group">
                  <label for="usuario">Usuário</label>
                  <input type="text" class="form-control" id="usuarioId"
                    required
                    [(ngModel)]="usuario"
                    #usuarioId="ngForm"
                    [class.is-valid]="usuarioId.valid"
                  >
                </div>
                <div class="form-group">
                  <label for="senha">Senha</label>
                  <input type="password" class="form-control" id="senhaId"
                    required
                    [(ngModel)]="senha"
                    #senhaId="ngForm"
                    [class.is-valid]="senhaId.valid"                  
                  >
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="switchConectadoId"
                      [(ngModel)]="switchConectado"
                    >
                    <label class="form-check-label" for="dropdownCheck2">
                      Mantenha-me Conectado
                    </label>
                  </div>
                </div>
                <button id="btn-logar" type="submit" class="btn btn-dark">Acessar</button> 
                <button id="btn-logando" class="btn btn-dark" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>                            
                <div id="alert-erro" class="alert alert-danger mt-3 col-12" role="alert">
                </div>                
              </form>
        </div>
    </div>
  
</div>
