#area-form{
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.wallmesh.com/wp-content/uploads/2018/04/winter-jungle-snow-road-wallpaper-hd-3840x2400.jpg');    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#img-form{
    width: 250px;
}

#linha-form{
    
}

#alert-erro{
    display: none;
}

#btn-logando{
    display: none;
}